.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background-color: rgb(181, 64, 103);
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(181, 64, 103);
    color: white;
    text-transform: inherit;
}
.checkoutProduct__info > button:hover {
    background-color: white;
    color: rgb(181, 64, 103);
    border: 1px solid rgb(181, 64, 103)
}


.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}